.toolbar_header {
background: white;
height: 100px;
position: fixed; 
z-index: 1;
width: 100%;
-webkit-box-shadow: 0 4px 6px -6px #222;
-moz-box-shadow: 0 4px 6px -6px #222;
box-shadow: 0 4px 6px -6px #222;
}
.toolbar_Menu{
height: 70px;
border: none;
float: right;
text-align: center;
margin-top: 25px;

}
.Menu_item{
font-size: 18px;
font-weight: bold;
font-family: Calibri;
color: dimgray;

}
.toolbar_title{
margin-top: 20px;
display: inline-block;
font-size: 23px;
font-weight: bold;
font-family: sans-serif;
font-style: italic;
color: rgb(27, 26, 126);
}
